@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left, gray ,rgb(49, 47, 47));
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    
    "header"
    "main"
    "footer"
    
    ;
}

header{
    grid-area: header;
    height: 35vh;
    width: 100vw;
  
  
}

.cabecera__logo{
    padding: 5px;
    text-align: center;
}

.cabecera__nav{
    width: 100vw;}


.toggle-menu{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    filter: invert(1);
    z-index: 1;
}



.menu__ab{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
    transform: translateY(-160%);

}


.menu__ab--show{
    transform: translateY(0);
}


.menu__item{ padding: 1em;}

li a,a:link, a:visited, a:active{
    text-decoration: none;
    color: rgb(252, 248, 247);
   }







main{
    grid-area: main;
}


footer{
    grid-area: footer;
}







/*media movil --- pensar en first movile*/


@media (min-width:1400px){
    
}

@media (min-width:1200px){
  
}

@media  (min-width:1024px){
  
}

@media  (min-width:768px){

    .cabecera__nav{
        width: 80vw;
        display: flex;
        margin: auto;
    }

    .menu__ab{
        flex-direction: row; 
    }

    #menu__b{width: 50%;
    justify-content: end;}

    .toggle-menu{display: none;}
  
  
}

@media  (min-width:600px){
   
}

@media  (min-width:480px){

}

@media  (max-width:320px){
    #menu__b{display:none;}
    
}


@media  (min-width:320px){
    
}

