@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 360vh;
    background-image: linear-gradient(to left, gray ,rgb(49, 47, 47));
    overflow-x: hidden;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    
    "header"
    "main"
    "footer"
    
    ;
}

/*HEADER*/

#cabecera{
    grid-area: header;
    height: 35vh;
    width: 100vw;
   
  
  
}

.cabecera__logo{
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.cabecera__logo img:hover{
    transform: scale(1.1, 1.1);
    transition: 0.6s all;  
}

.cabecera__nav{
    width: 100vw;   
}

.toggle-menu{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    filter: invert(1);
    z-index: 1;
  
   

}

.menu__ab{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
    transform: translateY(-165%);
   
}


.menu__ab--show{
    transform: translateY(0);
}

.menu__item{ 
    padding: 1em;
    background-color: rgba(46, 47, 46, 0.789);
    width: 100%;
    border-bottom: rgba(255, 0, 0, 0.791) 2px solid;
    font-family: play;
    text-align: center;   
}

.menu__item:hover{
    background-color: chocolate;
    color: aliceblue;
}

li a,a:link, a:visited, a:active{
    text-decoration: none;
    color: rgb(252, 248, 247);
   }

/* MAIN*/

#container{
    height:370vh;
    width: 100vw;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "imagenes"
    "marcas"
    "opciones"
    ;
}

.section__a{
    height: 255vh;
    grid-area: imagenes;
    background-image: linear-gradient(right to lef,rgba(222, 214, 214, 0.592),rgba(97, 85, 85, 0.477));
    grid-area:imagenes ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: play;
    padding-top: 15px;
}

.section_img{
    height: 60vh;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.332);   
    border-radius: 2px;
    box-shadow: rgba(242, 242, 244, 0.25) 0px 30px 60px -12px, rgba(251, 248, 248, 0.648) 0px 18px 36px -18px;
}

#uno{ background-image: url("/assets/img/walla.jpg");
    background-position: center;
	background-attachment: contain;
	background-size: cover;
    cursor: pointer;
}

#dos{background-image: url("/assets/img/wallb.jpg");
    background-position: center;
	background-attachment: contain;
	background-size: cover;
}

#tres{
    background-image: url("/assets/img/wallc.jpg");
    background-position: center;
	background-attachment: contain;
	background-size: cover;
}

#cuatro{background-image: url("/assets/img/walld.jpg");
    background-position: center;
	background-attachment: contain;
	background-size: cover;}

.section_img h2{
        color: antiquewhite;
        font-size: 2.5rem;
        line-height: 180px;
        text-align: center;       
}

 .section_img h2 a:hover{
    box-shadow: blue 0px 0px 0px 2px inset, 
    rgba(255, 3, 3, 0.614) 10px -10px 0px -3px,
     rgba(255, 255, 255, 0) 10px -10px, rgb(82, 77, 77) 20px -20px 0px -3px,
      rgba(74, 73, 72, 0) 20px -20px, rgba(209, 3, 3, 0.452) 30px -30px 0px -3px, 
      rgba(255, 156, 85, 0) 30px -30px, rgba(0, 80, 252, 0.701) 40px -40px 0px -3px, 
      rgba(255, 85, 85, 0) 40px -40px;
    border-radius: 15PX;
    transition: all 0.8s;

}

.section_img:hover{
    transform: translateY(10px);
    transition: 0.8s;
}

.section__b{
    height: 12vh;
    grid-area: marcas;
    background-color: rgba(254, 254, 254, 0.178);
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.section__c{
    height: 80vh;
    width: 80%;
    grid-area: opciones;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.servicios{
    color: rgb(190, 177, 177);
    ;
}




footer{
    height: 90vh;
    grid-area: footer;
    display: flex;
    flex-direction: column;

}


/*media movil --- pensar en  movile*/


@media (min-width:1400px){
    
}

@media (min-width:1200px){
  
}

@media  (min-width:1024px){
  

}



@media  (max-width:768px){
    #menu__b{display:none;}

}


/*--------------desktop------------------*/

@media  (min-width:768px){
    
    .cabecera__nav{
        height: 9vh;
        width: 90vw;
        display: flex;
        margin: auto;
        margin-top: 95px;
        justify-content: space-around;
    }

    .cabecera__logo{
        height: 23vh;
    }


    #container{height: 215vh;}

    .menu__ab{
        flex-direction: row; 
    }

    #menu__a{width: 49%;
    justify-content: start;}

    #menu__b{width: 30%;
    justify-content: end;
    }

    #menu__b .menu__item{
        height: 55px;
        width: 55px;
    }

    .toggle-menu{display: none;}
    

    .section_img{
  
        height: 70vh;
        width: 300px;
    }

    .section__a{
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content:center ;
        gap: 5px;
    }

    .section__b{
        height: 150px;
        padding-top: 25px;
       }

}


@media  (min-width:600px){
   
}

@media  (min-width:480px){

}

@media  (max-width:320px){
   
    
}


@media  (min-width:320px){
    
}

