@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 400vh;
    width: 100vw;
    background-image: linear-gradient(to left, gray ,rgb(49, 47, 47));
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    
    "header"
    "main"
    "footer"
    
    ;
}

/*HEADER*/

#cabecera{
    grid-area: header;
    height: 23vh;
    width: 100vw;
}

.cabecera__logo{
    height: 15vh;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.cabecera__logo img:hover{
    transform: scale(1.1, 1.1);
    transition: 0.6s all;  
}

.cabecera__nav{
    height: 10vh;
    width: 100vw;   
}

.toggle-menu{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    filter: invert(1);
    z-index: 1;
  
   

}

.menu__ab{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
    transform: translateY(-165%);
   
}


.menu__ab--show{
    transform: translateY(0);
}

.menu__item{ 
    padding: 1em;
    background-color: rgba(46, 47, 46, 0.789);
    width: 100%;
    border-bottom: rgba(255, 0, 0, 0.791) 2px solid;
    font-family: play;
    text-align: center;   
}

.menu__item:hover{
    background-color: chocolate;
    color: aliceblue;
}

li a,a:link, a:visited, a:active{
    text-decoration: none;
    color: rgb(252, 248, 247);
   }

/* MAIN*/

#container{
    height:330vh;
    width: 100vw;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "imagenes"
    "marcas"
    "opciones"
    ;
}

.section__a{
    height: 255vh;
    grid-area: imagenes;
    background-image: linear-gradient(right to lef,rgba(222, 214, 214, 0.592),rgba(97, 85, 85, 0.477));
    grid-area:imagenes ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: play;
    padding-top: 15px;
}

.section_img{
    height: 60vh;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.332);   
    border-radius: 2px;
    box-shadow: rgba(242, 242, 244, 0.25) 0px 30px 60px -12px, rgba(251, 248, 248, 0.648) 0px 18px 36px -18px;
}

#uno{ background-image: url("../img/walla.jpg");
    background-position: center;
	background-attachment: contain;
	background-size: cover;
    cursor: pointer;
}

#dos{background-image: url("../img/wallb.jpg");
    background-position: center;
	background-attachment: contain;
	background-size: cover;
}

#tres{
    background-image: url("../img/wallc.jpg");
    background-position: center;
	background-attachment: contain;
	background-size: cover;
}

#cuatro{background-image: url("../img/walld.jpg");
    background-position: center;
	background-attachment: contain;
	background-size: cover;}

.section_img h2{
        color: antiquewhite;
        font-size: 2.5rem;
        line-height: 180px;
        text-align: center;       
}

 .section_img h2 a:hover{
    box-shadow: blue 0px 0px 0px 2px inset, 
    rgba(255, 3, 3, 0.614) 10px -10px 0px -3px,
     rgba(255, 255, 255, 0) 10px -10px, rgb(82, 77, 77) 20px -20px 0px -3px,
      rgba(74, 73, 72, 0) 20px -20px, rgba(209, 3, 3, 0.452) 30px -30px 0px -3px, 
      rgba(255, 156, 85, 0) 30px -30px, rgba(0, 80, 252, 0.701) 40px -40px 0px -3px, 
      rgba(255, 85, 85, 0) 40px -40px;
    border-radius: 15PX;
    transition: all 0.8s;

}

.section_img:hover{
    transform: translateY(10px);
    transition: 0.8s;
}

.section__b{
    height: 20vh;
    grid-area: marcas;
    background-color: rgba(254, 254, 254, 0.178);
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.section__c{
    height: 60vh;
    width: 80%;
    grid-area: opciones;
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 0.8rem;
    padding: 10px;
    
}

.servicios{
    color: rgb(221, 207, 207);   
}

/*FOOTER*/

footer{
    height: 55vh;
    background-color: rgb(71, 59, 59);
    grid-area: footer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pie__container{
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.pie__container h3{
    border-bottom: 1px solid red;
    color: rgb(156, 95, 3);

}

.contacto{
    height: 80px;
    width: 300px;
    text-align: center;
    padding: 5px;
    color: rgba(255, 0, 0, 0.842)
    
}



.ubicacion{
    height: 150px;
    width: 300px;
    text-align: center;
    color: rgba(255, 0, 0, 0.842)
}



.seguinos{
    height: 80px;
    width: 300px;
    text-align: center;
    padding: 5px;
    color: rgba(255, 0, 0, 0.842)
}








/*FORMULARIO*/
#container_form{
    height: 40vh;
    width: 100vw;
 
    margin-top: 25px ;
    
    }
    .container_caja{  
       margin: auto;
       width: 50%;
       grid-area: form;    
    }

    #form {
        display: flex;
        flex-direction: column;
        box-shadow: rgba(248, 245, 245, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
    }
    
    #form input ,textarea{
        width: 100%;
        font-size: 1.2rem;
        border: red 1px solid;
        border-radius: 5px;
        font-family: play;
        padding: 10px;
        background-color: #34363C;
        color: chocolate;
    
}


/*media movil --- pensar en  movile*/


@media (min-width:1400px){
    
}

@media (min-width:1200px){
  
}

@media  (min-width:1024px){

    body{
        height: 200vh;
        width: 100vw;
    }

    .toggle-menu{display: none;}

    #cabecera{
        height: 30vh;
        text-align: center;
    }

    .cabecera__logo{
        height: 20vh;
     
    }

    .cabecera__nav{
        height: 4vh;
        display: flex;
        margin: auto;
        margin-top: 95px;
        justify-content: space-around;
    }
    .menu__ab{
        flex-direction: row; 
    }

    #container{
        height: 130vh;
        width: 100vw;
    }

    .section__a{
        height: 70vh;
        width: 80%;
        flex-direction: row;
        justify-content:center ;
        align-items:center;
        gap: 5px;
        margin: auto;
    }
  

    .section__b{
        height: 11vh;
        width: 80%;
        margin: auto;
    }


    .section__c{
        height: 47vh;
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    footer{
        height: 35vh;
      
    }

    .pie__container {
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .pie__container h3{
        padding-bottom: 5px;
    }

    .pie__bx{
        padding-top: 5px;
    }

    .map{
        padding-top: 5px
    }



    /*formulario*/


    
}



@media  (max-width:768px){
  

} 

/*--------------desktop------------------*/

@media  (min-width:768px){
  
    
}


@media  (min-width:600px){
   
}

@media  (min-width:480px){

}

@media  (max-width:320px){
   
    
}


@media  (min-width:320px){
   
}

